/* styles.css 파일 */
/* 스타일링 코드 */
body {
    font-family: Arial, sans-serif;
}
canvas {
    max-width: 400px;
}

h1 {
    text-align: center;
}

#sensor-data-container {
    width: 400px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}